body {
  zoom: 100%;
}

h1 {
  padding: 10px;
  font-size: 26px;
}

canvas {
  background:#f7f7f7;
  width: 600px;
  height: 1000px;
}

#step-2 {
  display: none;
}

textarea {
  width: 100%;
}

.hidden {
  display: none !important;
}

.container {
  padding-top: 10px;
  position: relative;
}

.header {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.8);right: 50px;
  bottom: 11px;

  z-index: 100;
}

.content > div {
  position: relative;
  display: flex;
  margin: 10px 0;
}

.rendered-track {
  position: relative;
  margin-left: 10px;
  width: 100%;
  display: flex;
}

.rendered-track .generating {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  vertical-align: center;
  text-align: center;
  padding-top: 30%;
  font-size: 20px;
  font-weight: bold;
}

#step-1 button {
  width: 100%;
  height: 47px;
}

input,
select {
  width: 126px !important;
}

#step-2 .form-group .right input {
  margin-right: 10px;
  margin-left: 10px;
}

#step-2 .form-group {
  height: 34px;
}

label {
  width: 64px;
}

textarea.disabled {
  color: rgba(0, 0, 0, 0.8);
}

.form-group.track-name label {
  padding-left: 10px;
}

.footer {
  padding-top: 15px;
  text-align: center;
}

.main {
  position: relative;
}

.info-text {
  padding-left: 15px;
}

.about h2 {
  margin-top: 0px;
}
