footer {
  margin-top: 10px;
  padding-top: 8px;
  border-top: 1px solid black;
  font-size: 12px;

  a,
  a:active,
  a:hover {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
